.job-card {
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: background 1s ease-in;
}

.dark-mode .job-card {
    background-color: var(--very-dark-blue);
}

.job-card__logo {
    background-size: 27px;
    height: 45px;
    transform: translate(55%,-50%)!important;
    width: 45px;
}

.job-card__info {
    color: var(--dark-grey);
    font-size: .95rem;
}

.job-card__position {
    color: var(--very-dark-blue);
    font-size: 1.1rem;
    font-weight: 600;
    transition: color 1s ease-in;
}

.dark-mode .job-card__position {
    color: var(--white);
    opacity: .9;
}

.job-card__location {
    color: var(--violet) !important;
    text-align: start !important;
}