.px {
    padding-left: 5%;
    padding-right: 5%;
}

@media screen and (min-width: 768px) {
    .px {
        padding-left: 7%;
        padding-right: 7%;
    }
}

@media screen and (min-width: 992px) {
    .px {
        padding-left: 10%;
        padding-right: 10%;
    }
}