.white-bg {
    background-color: var(--white);
}

.job-header {
    padding: 2rem 5%;
    transform: translateY(-16px);
    background: var(--white);
}

.job-header__icon {
    background-size: 35px;
    border-radius: 13px;
    height: 45px;
    width: 45px;
}

.job-header__title {
    color: var(--very-dark-blue);
    font-size: 1.3rem;
}


.job-header__site {
    font-size: .9rem;
    margin-bottom: 0;
}


.job-header__button {
    background-color: var(--light-violet);
    box-shadow: none !important;
    padding: .55rem .75rem;
    width: 70%;
}

.job-info {
    border-radius: .5rem .5rem 0 0;
}

.job-info__time, .footer__description {
    color: var(--dark-grey);
    font-size: .95rem;
}

.job-info__title {
    font-size: 1.4rem;
}

.job-info__location {
    color: var(--violet);
    font-size: .9rem;
}

.apply-button {
    background-color: var(--violet);
    padding: .55rem .75rem;
    width: 80%
}

.job-info__button {
    width: 100%;
}

.requirements {
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
}

.requirements__list, .role__list {
    list-style: none;
}

.requirements__list {
    margin-left: 14px;
}

.requirements__item, .role__item {
    color: var(--dark-grey);
    font-size: .965rem;
    line-height: 1.5rem;
}

.requirements__item::before, .role__item::before {
    color: var(--violet); /* Change the color */
    line-height: 30px;
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    margin-right: 2rem;
}

.requirements__item::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    font-size: 1.7rem;
}

.role {
    border-radius: 0 0 .5rem .5rem;
}

.role__item::before {
    font-size: 1.2rem;
}

.role__item:nth-child(1):before {
    content: '1';
}

.role__item:nth-child(2):before {
    content: '2';
}

.role__item:nth-child(3):before {
    content: '3';
}

.role__item:nth-child(4):before {
    content: '4';
}


.footer {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 4px 0px inset;
}

.footer__title {
    font-size: 1.2rem;
}

.footer__description {
    font-size: .9rem;
}

@media screen and (min-width: 480px) {
    .apply-button, .job-header__button  {
        width: 60%
    }
}

@media screen and (min-width: 576px) {
    .job-header {
        padding: 0;
        transform: translateY(-29px);
    }

    .job-header__icon {
        background-size: 50px;
        border-radius: .3rem 0 0 .3rem; 
        height: 100px;
        left: 0 !important;
        position: relative !important;
        transform: translate(0) !important;
        top: 0 !important;
        width: 20%;
    }

    .job-header__content {
        padding: 0 5%;
    }

    .job-header__button {
        width: 40%;
    }

    .apply-button {
        width: 25%
    }
}

@media screen and (min-width: 768px) {
    .footer__button {
        width: 22%
    }
}

@media screen and (min-width: 992px) {
    .details-container {
        padding-left: 20%;
        padding-right: 20%;
    }

    .job-header {
        transform: translateY(-33px);
    }

    .job-header__icon {
        width: 15%;
    }

    .job-header__button {
        width: 29%;
    }

    .footer__button {
        width: 22%
    }
}

@media screen and (min-width: 1200px) {
    .details-container {
        padding-left: 25%;
        padding-right: 25%;
    }
}

@media screen and (min-width: 1400px) {
    .details-container {
        padding-left: 29%;
        padding-right: 29%;
    }
}